<h2 class="form-heading">Register</h2>

<form
  [formGroup]="registerForm"
  (ngSubmit)="onRegister()"
  class="form-container"
>
  <label class="form-label">Name:</label>
  <input type="text" formControlName="name" class="form-input" />
  <div
    *ngIf="
      registerForm.get('name')?.invalid && registerForm.get('name')?.touched
    "
    class="error-text"
  >
    Name is required.
  </div>

  <label class="form-label">Email:</label>
  <input type="email" formControlName="email" class="form-input" />
  <div
    *ngIf="
      registerForm.get('email')?.invalid && registerForm.get('email')?.touched
    "
    class="error-text"
  >
    Valid email is required.
  </div>

  <label class="form-label">Password:</label>
  <input type="password" formControlName="password" class="form-input" />
  <div
    *ngIf="
      registerForm.get('password')?.invalid &&
      registerForm.get('password')?.touched
    "
    class="error-text"
  >
    Password must be at least 6 characters.
  </div>

  <button type="submit" [disabled]="registerForm.invalid" class="form-button">
    Register
  </button>
</form>

<p class="text-center">
  Already have an account? <a routerLink="/login" class="text-link">Login</a>
</p>
